[33mcommit 9886c58a02ab1503babc65281bec98dfdf9bdc3a[m[33m ([m[1;36mHEAD -> [m[1;32mmaster[m[33m)[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Fri Jul 30 15:46:35 2021 +0430

    Include navbar component file

[33mcommit e38e02b73988b29495e3135c49fb7dc67370aa7b[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Fri Jul 30 15:45:58 2021 +0430

    Add navbar

[33mcommit 808085c87049c20fc9a1e422d82726028cf7cb36[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Fri Jul 30 00:28:25 2021 +0430

    Include main container

[33mcommit 05226748cb4aea0c893c7caa11fc4e6126e39ab7[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 23:52:53 2021 +0430

    Include icons and footer

[33mcommit 3b2d2ca020de5b340cf8c5d37e16df94d06175d4[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 23:29:19 2021 +0430

    Add post group component file

[33mcommit 107f179e909a2c4f209a20daf9be7f91445b09b9[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 23:28:25 2021 +0430

    Add post group

[33mcommit 99bb1be69c1409aa8012769cabd522e0c1dd09f0[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 14:55:39 2021 +0430

    Implement post

[33mcommit d3bd26042e05a95c81dcae95409cdfc5f6c17440[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 14:33:25 2021 +0430

    Include middle bar

[33mcommit 230a8a092330b92d9d7b436416cb225a032e4d41[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 13:59:12 2021 +0430

    Add media query for rounded images

[33mcommit 50a93c9c65c4ac30bd82239772efb7458c7c1dea[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 13:54:37 2021 +0430

    Add rounded images

[33mcommit 0ea8c91825dea9b9719f1d3e06dbe784028b9907[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 13:21:53 2021 +0430

    Only add search-box component file

[33mcommit 7ee3daffc9ff56edecb2486c94871f27b0daf7f6[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Thu Jul 29 13:19:21 2021 +0430

    Add search box.

[33mcommit cbfed8ca135e37444f6c0a3f1569ff5ff392e8a3[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Tue Jul 27 14:45:28 2021 +0430

    Add inputs

[33mcommit a9bfecbda3e4370b3751898f01a2cfb8f7c9fbf9[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Tue Jul 27 14:24:04 2021 +0430

    Include buttons

[33mcommit 0ee85391e8b5ba7ae6dfec33f066b96a91e0b409[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Tue Jul 27 13:47:56 2021 +0430

    Add logo

[33mcommit c98cf54c672ac58b1759e02af7396915ef8c28c3[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Tue Jul 27 13:43:05 2021 +0430

    Add links

[33mcommit fcb60d8ce4175732d1dc802c6e962a91fe7c7195[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Tue Jul 27 13:27:24 2021 +0430

    Include typography.

[33mcommit 4c65085edea88c20166dab3858140d42a6e671a0[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Tue Jul 27 12:41:30 2021 +0430

    Initialize npm and link css files.

[33mcommit f051a1f66b4428b830f0e08da28bd741db79e38c[m
Author: Arman Naserani <arman.na.462@gmail.com>
Date:   Mon Jul 26 23:17:52 2021 +0430

    Initial commit
