<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fooder - Not found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <nav>
      <span class="logo"><a href="/">Fooder</a></span>
      <img class="toggler" src="/images/hamburger-menu.svg" alt="" />
      <ul class="link-container">
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="">CONTACT</a></li>
        <li><a class="nav-link" href="">ABOUT</a></li>
      </ul>
    </nav>

    <div class="not-found-page-content">
      <form autocomplete="off" class="search-box" action="/" method="POST">
        <input
          required
          name="search_input"
          class="input input-orange"
          type="text"
          placeholder="Start searching"
        />
        <button type="submit" class="btn btn-orange">Search</button>
      </form>

      <h1 class="color-orange recipe-page-main-heading">404</h1>
      <h2 class="color-orange recipe-page-main-heading">404 page not found</h2>
    </div>

    <footer>
      <p class="p-small">Bon Apetit</p>
      <div class="icon-group">
        <a href="/"><img class="icon" src="/images/home-icon.svg" alt="" /></a>
        <a href=""
          ><img class="icon" src="/images/contact-icon.svg" alt=""
        /></a>
        <a href=""><img class="icon" src="/images/info-icon.svg" alt="" /></a>
      </div>
      <p class="p-small">Created by the team of Arena &copy;</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
  </body>
</html>
