<div class="recipe-container">
  <img class="img-round img-rectangle" src="images/Image -1.png" alt="" />

  <div class="summary-container">
    <h2 class="color-orange summary-heading">Summary</h2>
    <p class="p-dark">
      The recipe Beef Fajita Marinade is ready in approximately 45 minutes and
      is definitely a tremendous gluten free and primal option for lovers of
      Mexican food. This recipe serves 2 and costs $9.65 per serving. This
      marinade has 755 calories, 81g of protein, and 47g of fat per serving. 21
      person have tried and liked this recipe. If you have ground chipotle
      pepper, lime zest, when you are ready to grill, and a few other
      ingredients on hand, you can make it. All things considered, we decided
      this recipe deserves a spoonacular score of 89%. This score is excellent.
      Try Beef or Chicken Fajita Marinade, Fajita Marinade, and Fajita Marinade
      I for similar recipes.
    </p>
  </div>

  <div>
    <h2 class="color-orange">ingredients</h2>
    <ul class="ingredients-list">
      <li>1 Tbsp fresh cilantro</li>
      <li>2 cloves garlic</li>
      <li>1 tsp ground chipotle pepper</li>
      <li>2 Tbsp fresh lime juice</li>
      <li>1 Tbsp lime zest</li>
      <li>1½ - 2lbs skirt steak</li>
      <li>2 Tbsp olive oil</li>
    </ul>
  </div>
  <div class="steps-container">
    <h2 class="color-orange">Steps</h2>
    <p class="p-dark recipe-step">
      <span class="span-marked">Step One - </span>
      Take and rinse your meat, and then mix all of your marinade ingredients
      together. Once you have everything mixed well, go ahead and rub all over
      your cuts of meat. Cover with Saran Wrap and place in the fridge to
      marinade anywhere from 1 to 3 hours.When you are ready to grill, take a
      cast iron skillet and start sauteing your veggies you want to eat on your
      fajitas. I chose a red onion thinly sliced, and a red and orange bell
      pepper, also thinly sliced with a Tbsp of Olive Oil to saute them in.
      (Have your grill set at 350 degrees.)When your onions start becoming
      translucent and you have everything close to ready, it's time to grab
      those marinating skirt steaks and put them on the grill
    </p>

    <p class="p-dark recipe-step">
      <span class="span-marked">Step Two - </span>
      Once the steaks are on, close the lid and set your timer for 5 minutes.
      Open the lid, and flip your steaks. This is the part that is fast! After
      10 minutes and the steaks are done, remove them from the grill and cover
      them in foil.
    </p>

    <p class="p-dark recipe-step">
      <span class="span-marked">Step Three - </span>
      Let cool for a few minutes before slicing and serving.
    </p>
  </div>
</div>
